{{ ansible_managed | comment }}

[user]
	name = {{ dvrg_comment }}
	email = {{ dvrg_email }}
	signingkey = {{ dvrg_gpg_key }}
[commit]
	gpgsign = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = main
[pull]
	rebase = true
