[Unit]
Description=Ansible-pull timer
Requires=ansible.service

[Timer]
Unit=ansible.service
OnCalendar=*:00/10
RandomizedDelaySec=60

[Install]
WantedBy=timers.target
